<form method="post" action="{{ path('app_admin_ticket_comment_delete', {'id': ticket.id, 'idComment': comment.id}) }}" onsubmit="return confirm('Voulez vous vraiment supprimer le commentaire de : {{ comment.author.username }} ?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ comment.id) }}">
    {% include 'admin/assets/button/btn_black.html.twig' with {'tag': 'button', 'text': "Supprimer le commentaire"} %}
</form>
