{% extends '/admin/base.html.twig' %}

{% block title %}Tickets{% endblock %}

{% block body %}
    <div class="flex">
        <div class="lg:w-1/3">
            {% include 'assets/text/title_index_light.html.twig' with {'text': 'Ticket'} %}
            {% include 'admin/ticket/_form_disabled.html.twig' with {'text_btn': "Sauvegarder les changements"} %}
        </div>
        <div class="lg:w-2/3 ps-10">
            {% include 'assets/text/title_index.html.twig' with {'text': 'Modification des commentaires'} %}

            {% for message in app.flashes('success') %}
                <div class="my-4">
                    {% include 'assets/alert/success.html.twig' %}
                </div>
            {% endfor %}

            {% if comments is empty %}
                <p>Aucun commentaire pour le moment</p>
            {% endif %}

            {% for comment in comments %}
                {% include 'assets/comment/comment.html.twig' with {'comment': comment }  %}
            {% endfor %}
        </div>
    </div>
    {% endblock %}

