<form method="post" action="{{ path('app_admin_user_delete', {'id': user.id}) }}" onsubmit="return confirm('Voulez vous vraiment supprimer {{ user.username }} ?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ user.id) }}">
    {% include 'components/button/_btn_black.html.twig' with {'tag': 'button', 'text': "Supprimer l'utilisateur"} %}
</form>
