<div class="mr-6 bg-primary hover:bg-secondary rounded-2xl p-4">
    <a class="flex font-bungee text-white" href="{{ path(route, {'username':username}) }}">
        {{ svg|raw }}
        {{ text }}
    </a>
</div>