{% extends '/front/base.html.twig' %}

{% block title %}Classement{% endblock %}

{% block body %}

<div class="px-16 lg:px-64 py-16 flex justify-center">
    <div class="flex flex-col items-center gap-4 max-w-[1024px]"> 
        <div class="flex flex-col gap-8 text-center">
            <h1 class="font-bungee text-5xl">Classement</h1>
            {% include 'components/table/_ranking.html.twig' with { 'users' : users } %}
        </div>
    </div>
</div>
{% endblock %}
