{% extends '/front/base.html.twig' %}

{% block title %}Classement{% endblock %}

{% block body %}

<div class="container w-1/3 mx-auto">
    <div class="text-center mt-20 mb-5">
        <h1 class="font-bungee text-4xl">Classement</h1>
    </div>

    {% set route = app.request.attributes.get("_route") %}
    <div class="flex justify-center font-bungee text-xl mb-5">
        <p class="p-3 rounded-l-lg rank border-y border-l border-graylight {% if route == "app_ranking_points" %}bg-primary text-white active{% endif %} hover:bg-primary hover:text-white">
            <a class="flex" href="{{ path('app_ranking_points') }}">
                <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path fill-rule="evenodd" clip-rule="evenodd" d="M10.0892 14.2796L8.45824 14.0516C8.37224 14.0356 8.29824 13.9836 8.26324 13.9156L7.52924 12.4456C7.52824 12.4436 7.52624 12.4416 7.52624 12.4386C7.45624 12.3096 7.34724 12.2016 7.21024 12.1266C7.03624 12.0336 6.83624 12.0156 6.64424 12.0726C6.45124 12.1326 6.29424 12.2636 6.19824 12.4456L5.46424 13.9116C5.42724 13.9836 5.35424 14.0356 5.27824 14.0506L3.62624 14.2816C3.46124 14.3126 3.31624 14.3886 3.20624 14.5026C3.06824 14.6436 2.99524 14.8306 3.00024 15.0286C3.00424 15.2256 3.08524 15.4066 3.22324 15.5366L4.41524 16.6906C4.47124 16.7426 4.49624 16.8166 4.48224 16.8946L4.20124 18.5076C4.17624 18.6616 4.20324 18.8256 4.27824 18.9736C4.37124 19.1496 4.52624 19.2776 4.71524 19.3346C4.78724 19.3566 4.86024 19.3676 4.93224 19.3676C5.05324 19.3676 5.17224 19.3376 5.28024 19.2796L6.74224 18.5226C6.81824 18.4846 6.90824 18.4856 6.97824 18.5196L8.44524 19.2796C8.59624 19.3576 8.75824 19.3826 8.90724 19.3546C9.10324 19.3246 9.27524 19.2216 9.39224 19.0626C9.50924 18.9026 9.55624 18.7056 9.52424 18.5046L9.24424 16.8956C9.23124 16.8176 9.25524 16.7416 9.31324 16.6876L10.4932 15.5446C10.6182 15.4336 10.6992 15.2786 10.7192 15.1096C10.7712 14.7056 10.4952 14.3416 10.0892 14.2796Z" fill="#6817FF"/>
                    <path fill-rule="evenodd" clip-rule="evenodd" d="M21.2677 15.5438C21.3917 15.4328 21.4717 15.2778 21.4937 15.1098C21.5457 14.7058 21.2697 14.3408 20.8617 14.2798L19.2317 14.0518C19.1447 14.0358 19.0707 13.9828 19.0357 13.9158L18.3017 12.4458L18.2997 12.4418C18.2317 12.3118 18.1227 12.2028 17.9827 12.1268C17.8067 12.0338 17.6077 12.0148 17.4167 12.0738C17.2247 12.1328 17.0677 12.2638 16.9717 12.4458L16.2377 13.9118C16.2007 13.9828 16.1257 14.0358 16.0527 14.0498L14.3997 14.2818C14.2347 14.3118 14.0887 14.3888 13.9797 14.5018C13.8417 14.6438 13.7677 14.8308 13.7727 15.0288C13.7767 15.2258 13.8577 15.4078 13.9967 15.5368L15.1887 16.6898C15.2457 16.7428 15.2697 16.8168 15.2557 16.8948L14.9737 18.5068C14.9487 18.6598 14.9757 18.8248 15.0517 18.9748C15.1447 19.1498 15.3007 19.2778 15.4897 19.3358C15.5607 19.3568 15.6337 19.3678 15.7057 19.3678C15.8267 19.3678 15.9467 19.3378 16.0547 19.2798L17.5157 18.5228C17.5897 18.4848 17.6807 18.4858 17.7507 18.5198L19.2177 19.2788C19.3657 19.3558 19.5337 19.3828 19.6797 19.3548C19.8757 19.3258 20.0487 19.2218 20.1657 19.0618C20.2837 18.9018 20.3307 18.7058 20.2977 18.5048L20.0177 16.8938C20.0037 16.8168 20.0287 16.7428 20.0867 16.6878L21.2677 15.5438Z" fill="#6817FF"/>
                    <path fill-rule="evenodd" clip-rule="evenodd" d="M14.293 11.3143C14.489 11.2853 14.662 11.1813 14.779 11.0223C14.897 10.8623 14.943 10.6653 14.911 10.4643L14.631 8.85627C14.617 8.77527 14.644 8.69525 14.699 8.63725L15.879 7.50425C16.003 7.39624 16.083 7.24125 16.106 7.06824C16.157 6.66525 15.882 6.30025 15.477 6.23924L13.829 5.99925C13.752 5.98925 13.683 5.94025 13.648 5.87625L12.916 4.40625C12.915 4.40325 12.914 4.40125 12.913 4.39925C12.844 4.27124 12.735 4.16325 12.596 4.08625C12.421 3.99325 12.219 3.97525 12.031 4.03325C11.838 4.09225 11.681 4.22325 11.585 4.40525L10.852 5.87125C10.814 5.94325 10.74 5.99525 10.666 6.01025L9.01198 6.24125C8.84698 6.27224 8.70098 6.34924 8.59198 6.46324C8.45598 6.60224 8.38098 6.79424 8.38598 6.99025C8.39098 7.18725 8.47198 7.36825 8.61098 7.49824L9.79398 8.63125C9.85598 8.69525 9.88298 8.77427 9.86898 8.85427L9.58698 10.4653C9.56098 10.6193 9.58798 10.7843 9.66498 10.9343C9.75798 11.1093 9.91298 11.2373 10.102 11.2943C10.174 11.3163 10.247 11.3273 10.319 11.3273C10.44 11.3273 10.559 11.2973 10.667 11.2393L12.128 10.4823C12.204 10.4453 12.294 10.4443 12.365 10.4803L13.831 11.2383C13.979 11.3153 14.146 11.3443 14.293 11.3143Z" fill="#6817FF"/>
                </svg>
                Points
            </a>
        </p>
        <p dir="ltr" class="p-3 rounded-r-lg rank border-y border-r border-graylight {% if route == "app_ranking_success" %}bg-primary text-white active{% endif %} hover:bg-primary hover:text-white">
            <a class="flex" href="{{ path('app_ranking_success') }}">
                <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path fill-rule="evenodd" clip-rule="evenodd" d="M13.9814 8.02701L13.3404 8.641L13.4904 9.50301C13.5454 9.86598 13.3024 10.201 12.9484 10.257C12.8144 10.279 12.6684 10.257 12.5414 10.192L11.7104 9.75898L10.9614 10.192C10.8684 10.242 10.7644 10.267 10.6604 10.267C10.5944 10.267 10.5294 10.257 10.4644 10.237C10.2974 10.186 10.1604 10.071 10.0794 9.91598C10.0134 9.79898 9.98839 9.65201 10.0114 9.50801L10.1634 8.64301L9.52736 8.03201C9.40136 7.91201 9.33136 7.749 9.32736 7.575C9.32436 7.402 9.38936 7.23601 9.51036 7.11101C9.61236 7.00601 9.74936 6.93601 9.89539 6.91801L10.8194 6.78501L11.1664 6.00601C11.3354 5.67901 11.7284 5.55201 12.0544 5.72001C12.1714 5.78101 12.2674 5.87601 12.3324 5.99501L12.3364 6.00501L12.7534 6.836L13.6144 6.91901C13.7834 6.94201 13.9374 7.03101 14.0434 7.17001C14.1484 7.30901 14.1924 7.48 14.1684 7.653C14.1534 7.785 14.0864 7.92201 13.9814 8.02701ZM21.4714 5.17601C21.4294 4.79701 21.1084 4.51 20.7264 4.51H18.2634C18.2974 3.95 18.3004 3.577 18.3004 3.5C18.3004 3.22401 18.0774 3 17.8004 3H5.70036C5.56736 3 5.44036 3.05301 5.34636 3.147C5.25236 3.24001 5.20036 3.368 5.20036 3.501C5.20036 3.578 5.20336 3.951 5.23736 4.51H2.77436C2.39236 4.51 2.07136 4.79701 2.02936 5.17601C2.00936 5.35001 1.58636 9.457 4.74136 11.532C4.86836 11.616 5.01036 11.656 5.15236 11.656C5.39636 11.656 5.63536 11.537 5.78036 11.318C6.00736 10.972 5.91236 10.507 5.56536 10.279C3.83936 9.144 3.54036 7.073 3.50536 6.01H5.37836C5.76736 9.139 7.01536 14.124 10.9984 14.688V16.443H8.65436C8.43636 16.443 8.24436 16.584 8.17736 16.79L7.48036 18.966H6.14936C5.73536 18.966 5.39936 19.302 5.39936 19.716C5.39936 20.13 5.73536 20.466 6.14936 20.466H17.4944C17.9084 20.466 18.2444 20.13 18.2444 19.716C18.2444 19.302 17.9084 18.966 17.4944 18.966H16.1624L15.4664 16.791C15.4004 16.584 15.2084 16.443 14.9904 16.443H12.4984V14.69C16.4904 14.134 17.7364 9.142 18.1244 6.01H19.9954C19.9604 7.073 19.6614 9.144 17.9354 10.279C17.5884 10.507 17.4934 10.972 17.7204 11.318C17.8654 11.537 18.1044 11.656 18.3484 11.656C18.4904 11.656 18.6324 11.616 18.7594 11.532C21.9144 9.457 21.4914 5.35001 21.4714 5.17601Z" fill="#6817FF"/>
                </svg>
                Succès
            </a>
        </p>
    </div>

    {% include 'components/table/_ranking.html.twig' with {
        'users' : users,
    }
    %}

</div>
{% endblock %}
