<li class="border rounded-lg px-4 py-2 hover:text-white hover:bg-primary {% if controllerName == controller%}active{% endif %}">
    <a class="flex font-bungee justify-center items-center" href="{{ path(route) }}">
        <div class="width-[24px] height-[24px]">
            {{ svg|raw }}
        </div>
        {{ text }}
    </a>
</li>