{% set controllerName = app.request.attributes.get("_controller")|split('\\')[3]|split(':')[0] %}

{% set itemsMenu =
    [
        ['Accueil','app_home','HomeController','<svg class="mr-2" width="20" height="20" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" clip-rule="evenodd" d="M12.8649 14.5769H7.59194C7.17794 14.5769 6.84194 14.2409 6.84194 13.8269C6.84194 13.4129 7.17794 13.0769 7.59194 13.0769H12.8649C13.2789 13.0769 13.6149 13.4129 13.6149 13.8269C13.6149 14.2409 13.2789 14.5769 12.8649 14.5769ZM18.1469 5.62493L12.5729 1.08593C11.2129 -0.0240701 9.23992 -0.0250703 7.88194 1.08493L2.30994 5.62393C1.43894 6.32993 0.939941 7.37693 0.939941 8.4969V15.6769C0.939941 17.9209 2.76594 19.7469 5.01194 19.7469H15.4429C17.6879 19.7469 19.5149 17.9209 19.5149 15.6769V8.4969C19.5149 7.37693 19.0159 6.32993 18.1469 5.62493Z" fill="#6817FF"/></svg>'],
        ['Recherche','app_search','SearchController','<svg class="mr-2" width="21" height="20" viewBox="0 0 21 20" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M15.8482 15.6543C16.2348 15.2704 16.8544 15.2704 17.2409 15.6543L19.7956 17.7164H19.8399C20.3567 18.2388 20.3567 19.0858 19.8399 19.6082C19.3231 20.1306 18.4851 20.1306 17.9683 19.6082L15.8482 17.1785L15.7678 17.0877C15.6179 16.898 15.5352 16.6615 15.5352 16.4164C15.5352 16.1304 15.6478 15.8562 15.8482 15.6543ZM8.80518 0C11.0801 0 13.2619 0.913436 14.8705 2.53936C16.4791 4.16529 17.3828 6.37052 17.3828 8.66993C17.3828 13.4582 13.5425 17.3399 8.80518 17.3399C4.06788 17.3399 0.227539 13.4582 0.227539 8.66993C0.227539 3.88166 4.06788 0 8.80518 0Z" fill="#6817FF"/></svg>'],
        ['Classement','app_ranking_points','RankingController','<svg class="mr-2" width="25" height="24" viewBox="0 0 25 24" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M16.8965 2C20.2975 2 22.2175 3.929 22.2275 7.33V16.67C22.2275 20.07 20.2975 22 16.8965 22H7.55754C4.15654 22 2.22754 20.07 2.22754 16.67V7.33C2.22754 3.929 4.15654 2 7.55754 2H16.8965ZM12.7275 6.13C12.4465 5.96 12.1065 5.96 11.8375 6.13C11.5665 6.299 11.4175 6.61 11.4465 6.92V17.11C11.4975 17.54 11.8565 17.86 12.2765 17.86C12.7075 17.86 13.0665 17.54 13.1065 17.11V6.92C13.1465 6.61 12.9975 6.299 12.7275 6.13ZM8.05754 9.41C7.78754 9.24 7.44654 9.24 7.17754 9.41C6.90654 9.58 6.75754 9.889 6.78754 10.2V17.11C6.82654 17.54 7.18654 17.86 7.61654 17.86C8.04754 17.86 8.40654 17.54 8.44654 17.11V10.2C8.47754 9.889 8.32654 9.58 8.05754 9.41ZM17.3165 13.04C17.0475 12.87 16.7075 12.87 16.4275 13.04C16.1565 13.21 16.0075 13.509 16.0475 13.83V17.11C16.0875 17.54 16.4465 17.86 16.8775 17.86C17.2975 17.86 17.6565 17.54 17.7075 17.11V13.83C17.7365 13.509 17.5875 13.21 17.3165 13.04Z" fill="#6817FF"/></svg>'],
        ['Tickets','app_ticket','TicketController','<svg class="mr-2" width="21" height="18" viewBox="0 0 21 18" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M16.0835 0C18.3675 0 20.2265 1.84201 20.2265 4.10514L20.2275 6.78245C20.2275 6.97864 20.1485 7.16889 20.0085 7.30761C19.8675 7.44732 19.6775 7.5256 19.4775 7.5256C18.6565 7.5256 17.9885 8.18749 17.9885 9.00099C17.9885 9.81449 18.6565 10.4764 19.4775 10.4764C19.8915 10.4764 20.2275 10.8093 20.2275 11.2195V13.8958C20.2275 16.159 18.3695 18 16.0855 18H4.37054C2.08654 18 0.227539 16.159 0.227539 13.8958V11.2195C0.227539 10.8093 0.563539 10.4764 0.977539 10.4764C1.79954 10.4764 2.46754 9.81449 2.46754 9.00099C2.46754 8.2083 1.82654 7.6118 0.977539 7.6118C0.778539 7.6118 0.588539 7.53352 0.447539 7.39381C0.306539 7.2541 0.227539 7.06485 0.227539 6.86866L0.229539 4.10514C0.229539 1.84201 2.08754 0 4.37154 0H16.0835ZM10.2295 5.15347C9.94554 5.15347 9.69154 5.31003 9.56454 5.56171L8.83554 7.02521L7.20954 7.26005C6.92854 7.29968 6.69854 7.48993 6.60954 7.75746C6.52154 8.02499 6.59254 8.31432 6.79654 8.51051L7.97554 9.64802L7.69754 11.2562C7.64954 11.5336 7.76254 11.8091 7.99254 11.9746C8.12254 12.0667 8.27354 12.1143 8.42654 12.1143C8.54354 12.1143 8.66154 12.0855 8.76954 12.0291L10.2275 11.2701L11.6825 12.0271C11.9345 12.1608 12.2335 12.14 12.4625 11.9736C12.6935 11.8091 12.8065 11.5336 12.7585 11.2562L12.4795 9.64802L13.6585 8.51051C13.8635 8.31432 13.9345 8.02499 13.8455 7.75746C13.7575 7.48993 13.5275 7.29968 13.2495 7.26104L11.6205 7.02521L10.8915 5.5627C10.7665 5.31102 10.5125 5.15446 10.2295 5.15347Z" fill="#6817FF"/></svg>']
    ]
%}

<nav class="header bg-white sticky top-0 front-menu flex items-center fs-16 w-full py-6 px-8 mb-8 border-b">
    <div class="flex flex-1 me-auto">
        <a href="{{ path('app_home') }}">
            <img class="" width="150" src="/img/logo_fond_blue.png">
        </a>
    </div>
    <ul class="flex flex-1 grid grid-cols-4 gap-4">
        {% for item in itemsMenu %}
            {% include '/components/header/front/_item_header.html.twig' with
                {
                    'text': item[0],
                    'route': item[1],
                    'controller': item[2],
                    'svg': item[3]
                }
            %}
        {% endfor %}
    </ul>
    <div class="flex flex-1 justify-end ms-auto">
        {% if app.user %}
            {% include '/components/header/front/_item_account_header.html.twig' with
                {
                    'text': app.user.firstname~' '~app.user.name,
                    'route': 'app_account_show',
                    'username': app.user.username,
                    'svg': '<svg class="mr-2" width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M12 15.1739C16.3386 15.1739 20 15.8789 20 18.599C20 21.32 16.3146 22 12 22C7.66237 22 4 21.295 4 18.575C4 15.8539 7.68538 15.1739 12 15.1739ZM12 2C14.9391 2 17.294 4.35402 17.294 7.29105C17.294 10.2281 14.9391 12.5831 12 12.5831C9.0619 12.5831 6.70601 10.2281 6.70601 7.29105C6.70601 4.35402 9.0619 2 12 2Z" fill="#FCFAF9"/></svg>'
                }
            %}
            {% if 'ROLE_ADMIN' in app.user.roles %}
                {% include '/components/header/front/_item_admin_header.html.twig' with
                    {
                        'text': 'Admin',
                        'route': 'app_admin_dashboard',
                        'svg': '<svg class="mr-2" width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M7.92009 13.4697C9.33009 13.4697 10.4601 14.6107 10.4601 16.0307V19.4397C10.4601 20.8497 9.33009 21.9997 7.92009 21.9997H4.54009C3.14009 21.9997 2.00009 20.8497 2.00009 19.4397V16.0307C2.00009 14.6107 3.14009 13.4697 4.54009 13.4697H7.92009ZM19.4602 13.4697C20.8602 13.4697 22.0002 14.6107 22.0002 16.0307V19.4397C22.0002 20.8497 20.8602 21.9997 19.4602 21.9997H16.0802C14.6702 21.9997 13.5402 20.8497 13.5402 19.4397V16.0307C13.5402 14.6107 14.6702 13.4697 16.0802 13.4697H19.4602ZM7.92009 2C9.33009 2 10.4601 3.15 10.4601 4.561V7.97C10.4601 9.39 9.33009 10.53 7.92009 10.53H4.54009C3.14009 10.53 2.00009 9.39 2.00009 7.97V4.561C2.00009 3.15 3.14009 2 4.54009 2H7.92009ZM19.4602 2C20.8602 2 22.0002 3.15 22.0002 4.561V7.97C22.0002 9.39 20.8602 10.53 19.4602 10.53H16.0802C14.6702 10.53 13.5402 9.39 13.5402 7.97V4.561C13.5402 3.15 14.6702 2 16.0802 2H19.4602Z" fill="#FCFAF9"/></svg>'
                    }
                %}
            {% endif %}
        {% else %}
            {% include '/components/header/front/_item_account_header.html.twig' with
                {
                    'text': 'Mon compte',
                    'route': 'app_login',
                    'controller': 'TicketController',
                    'svg': '<svg class="mr-2" width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M12 15.1739C16.3386 15.1739 20 15.8789 20 18.599C20 21.32 16.3146 22 12 22C7.66237 22 4 21.295 4 18.575C4 15.8539 7.68538 15.1739 12 15.1739ZM12 2C14.9391 2 17.294 4.35402 17.294 7.29105C17.294 10.2281 14.9391 12.5831 12 12.5831C9.0619 12.5831 6.70601 10.2281 6.70601 7.29105C6.70601 4.35402 9.0619 2 12 2Z" fill="#6817FF"/></svg>'
                }
            %}
        {% endif %}
    </div>
</nav>




