<form method="post" action="{{ path('app_admin_level_delete', {'id': level.id}) }}" onsubmit="return confirm('Voulez vous vraiment supprimer le niveau : {{ level.name }} ?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ level.id) }}">
    {% include 'assets/button/btn_black.html.twig' with {'tag': 'button', 'text': "Supprimer le niveau"} %}
</form>
