<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Welcome!{% endblock %}</title>
        <link rel="icon" href="/img/favicon_admin.png">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
        {% block stylesheets %}
            {{ encore_entry_link_tags('app') }}
        {% endblock %}

        {% block javascripts %}
            {{ encore_entry_script_tags('app') }}
        {% endblock %}
    </head>
    <body>
        <div class="grid grid-cols-admin-layout">
            {{ include('components/header/admin/header.html.twig') }}
            <div class="p-16 flex flex-col items-start gap-4">
                {% block body %}{% endblock %}
            </div>
        </div>
    </body>
</html>
