{% extends '/front/base.html.twig' %}

{% block title %}Accueil{% endblock %}

{% block body %}

<div class="container w-7/12 mx-auto">
    <div class="text-center mt-40 mb-10">
        <h1 class="font-bungee text-5xl	mb-4">Débugguez et aidez à débugguer</h1>
        <p class="text-graylight text-2xl">La plateforme par les développeurs pour les développeurs</p>
    </div>

    <div class="mb-20">
        <input type="text" class="border border-graylight rounded-2xl p-3 w-full" placeholder="Votre recherche">
        {% for tag in tags %}
            <label>{{ tag.name }}</label>
             <input type="checkbox">
        {% endfor %}
    </div>

    {% set stats = [
        ['#1 🥇','Numéro 1 du debugging'],
        ['+500','Tickets'],
        ['+100','Utilisateurs'],
        ['10 m','Visites mensuelles']
    ] %}
    <div class="grid grid-cols-4 gap-6 mb-40">
        {% for item in stats %}
            <div class="border border-graylight rounded-2xl p-4">
                <p class="font-bungee text-3xl">{{ item.0 }}</p>
                <p class="text-xl text-graylight">{{ item.1 }}</p>
            </div>
        {% endfor %}
    </div>

    <div class="text-center mb-20">
        <h2 class="font-bungee text-5xl	mb-4">Ils utilisent debug.me</h2>
        <p class="text-graylight text-2xl">La plateforme par les développeurs pour les développeurs</p>
    </div>
</div>
{% endblock %}
