<form method="post" action="{{ path('app_ticket_delete', {'uuid': ticket.uuid}) }}" onsubmit="return confirm('Voulez vous vraiment supprimer votre ticket : {{ ticket.title }} ?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ ticket.id) }}">
    {% include 'components/button/_btn_red.html.twig' with {'tag': 'button', 'text': "Supprimer le ticket"} %}
</form>