.front-menu{
  .active{
    background: #6817FF;
    color: #FCFAF9;
    path{
      fill: #FCFAF9;
    }
  }
}

@media screen and (min-width:1280px) {
  .front-menu{
    li:hover path,
    div:hover path{
      fill: #FCFAF9;
    }
  }
}

.notification {
  width: 380px;
}
.slide-left {
  -webkit-animation: slide-left 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
  animation: slide-left 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}

input[type=radio]:checked+label, input[type=checkbox]:checked+label {
  background-color: #6817FF;
  color: #FCFAF9;
}

.progressBar {
  stroke-linecap: round;
  stroke-dasharray: 100;
  stroke-dashoffset: var(--percentage);
}

/**
 * ----------------------------------------
 * animation slide-left
 * ----------------------------------------
 */
@-webkit-keyframes slide-left {
  0% {
    -webkit-transform: translateX(100px);
    transform: translateX(100px);
  }
  100% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
  }
}
@keyframes slide-left {
  0% {
    -webkit-transform: translateX(100px);
    transform: translateX(100px);
  }
  100% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
  }
}

.rank.active path,
.rank:hover path {
  fill: white;
}