{{ form_start(form, {
    'attr': {'class': 'flex flex-col gap-4 w-full'}}) }}
    {{ 
        form_row(
            form.content,
            {
                'label_attr': {'class': 'font-bold'},
                'attr': {'class': 'border rounded p-2 w-full'},
                'row_attr': {'class': 'flex flex-col gap-4'}
            }
        )
    }}
<p><i>Si vous voulez ajouter du code, veuillez utiliser les balises < code > et < /code ></i></p>
<div class="flex">
    {% include 'components/button/_btn_primary.html.twig' with {'tag': 'button', 'text': text_btn} %}
    {{ form_end(form) }}
</div>



