{{ form_start(form, {
    'attr': {'class': 'w-full'}}) }}
    {{ form_row(form.content, {
        'label_attr': {'class': 'font-bold mb-2'},
        'attr': {'class': 'border rounded p-2 w-full'}}) }}
<p class="mb-4"><i>Si vous voulez ajouter du code, veuillez utiliser les balises < code > et < /code ></i></p>
<div class="flex">
    {% include 'assets/button/btn_primary.html.twig' with {'tag': 'button', 'text': text_btn} %}
    {{ form_end(form) }}
</div>



