<div>
    {% if text == "En cours" %}
        <p class="border-primary font-bold bg-primarylight rounded-full text-primary py-1 px-4">
            {{ text }}
        </p>
    {% else %}
        <p class="border-green font-bold bg-greenlight rounded-full text-green py-1 px-4">
            {{ text }}
        </p>
    {% endif %}
</div>