{% extends '/admin/base.html.twig' %}

{% block title %}Succès{% endblock %}

{% block body %}
    {% include 'components/text/_title_index.html.twig' with {'text': 'Succès'} %}
    <p class="mb-2">C’est ici que vous pouvez ajouter, modifier ou supprimer des succès.</p>
    {% include 'components/button/_btn_red.html.twig' with {'tag': 'a', 'text': 'Ajouter un nouveau succès', 'route': 'app_admin_succes_new'} %}

    {% for message in app.flashes('success') %}
        <div class="my-4">
            {% include 'components/alert/_success.html.twig' %}
        </div>
    {% endfor %}

    {% include 'components/table/_table.html.twig' with {
        'titles': ['Nom','Description'],
        'datas' : datas,
        'class' : ['',''],
        'route_edit' : 'app_admin_succes_edit'
    }
    %}
{% endblock %}

