{% extends '/admin/base.html.twig' %}

{% block title %}Tickets{% endblock %}

{% block body %}
    {% include 'components/text/_title_index.html.twig' with {'text': 'Tickets'} %}
    <p>C'est ici que vous pouvez ajouter, modifier ou supprimer des tickets.</p>
    {% include 'components/button/_btn_red.html.twig' with {'tag': 'a', 'text': 'Ajouter un nouveau ticket', 'route': 'app_admin_ticket_new'} %}

    {% for message in app.flashes('success') %}
        {% include 'components/alert/_success.html.twig' %}
    {% endfor %}

    <div class="flex">
        {% include 'components/table/_table.html.twig' with {
            'titles': ['Titre','Auteur','Tags','Date de création','Commentaires'],
            'datas' : datas,
            'class' : ['','','','',''],
            'route_edit' : 'app_admin_ticket_edit',
            'hasComments': true,
            'route_comment': 'app_admin_ticket_comment',
        }
        %}
    </div>

{% endblock %}

