{% extends '/front/base.html.twig' %}

{% block title %}Debugguez moi{% endblock %}

{% block body %}
<div class="px-16 lg:px-64 py-16 flex justify-center">
  <div class="flex flex-col items-center gap-8 max-w-[1024px]">
    {% include '/components/ticket/_ticket_error.html.twig' with {'error': '403'} %}
  </div>
</div>
{% endblock %}
