<form method="post" action="{{ path('app_admin_tag_delete', {'id': tag.id}) }}" onsubmit="return confirm('Voulez vous vraiment supprimer le tag : {{ tag.name }} ?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ tag.id) }}">
    {% include 'assets/button/btn_black.html.twig' with {'tag': 'button', 'text': "Supprimer le tag"} %}
</form>
