{{ form_start(form, {
    'attr': {'class': 'flex flex-col gap-4 items-start w-[512px]'}}) }}
    {{ 
        form_row(
            form.name,
            {
                'label_attr': {'class': 'font-bold'},
                'attr': {'class': 'border rounded-lg px-3 py-2 w-full'},
                'row_attr': {'class': 'flex flex-col items-start gap-4 w-full'}
            }
        )
    }}
<div class="flex flex-col items-start gap-4">
    {% include 'components/button/_btn_red.html.twig' with {'tag': 'button', 'text': text_btn} %}
    {{ form_end(form) }}
    {% if app.request.attributes.get('_route') == "app_admin_tag_edit"  %}
        {% include 'admin/tag/_delete_form.html.twig' %}
    {% endif %}
</div>



